<section class="position-relative align-items-center py-3 header-bg -mt-3">
    <div id="slideShow" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="p-5 text-center">
                    <h1>@ViewData["Title"]</h1>
                </div>
            </div>
        </div>
    </div>
</section>
