
@{
    ViewData["Title"] = "About Us";
}

<section class="position-relative align-items-center py-3 header-bg -mt-3">
    <div id="slideShow" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="p-5 text-center">
                    <h1>@ViewData["Title"]</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="mt-5 mb-5">
        <h2 class="fw-bolder">Store Name/Logo</h2>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-6">
            <img src="~/images/top-img6.jpg" class="w-100" alt="Alternate Text" />
        </div>
        <div class="col-sm-12 col-md-5 col-lg-6">
            <p>You know that tingly feeling you get on the back of your neck sometimes? I just got that feeling when talking with her. You know I don't believe in sixth senses, but there is something not right with her. I don't know how I know, but I just do.</p>
            <p>There are only three ways to make this work. The first is to let me take care of everything. The second is for you to take care of everything. The third is to split everything 50 / 50. I think the last option is the most preferable, but I'm certain it'll also mean the end of our marriage.</p>
        </div>
    </div>
</div>
