@using ECommerce.Models.DisplayModels;
@model ProductList

@{
    ViewData["Title"] = "Home Page";
}

<section class="position-relative align-items-center py-5 section-bg -mt-3">
    <div id="slideShow" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#slideShow" data-slide-to="0" class="active"></li>
            <li data-target="#slideShow" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="2000">
                <div class="p-5 text-center">
                    <h1>My Header</h1>
                    <p>Discounts will be available soon. Come shop with us!</p>
                    <button class="btn btn-danger rounded-pill">Shop Product</button>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000">
                <div class="p-5 text-center">
                    <h1>We have a new store!!</h1>
                    <p>Click below to get location</p>
                    <button class="btn btn-info rounded-pill">Contact Us</button>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#slideShow" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon text-black" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#slideShow" role="button" data-slide="next">
            <span class="carousel-control-next-icon text-black" aria-hidden="true"></span>
        </a>
    </div>
</section>


<div class="container">
    <div class="my-3" style="min-height: 100vh">
        <h3 class="largeText fw-bold py-5">Product Overview</h3>
        <div class="row">
            @foreach(var product in Model.Products)
            {
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="product-item shadow-sm">
                        <span class="badge bg-success position-absolute m-3">-@product.DiscountPercentage%</span>
                        <a class="btn-wishlist bi bi-heart" style="font-size: 24px"></a>
                        <a class="" href="/products/@product.ProductId">
                            <img src="images/top-img1.jpg" class="product-image" />
                        </a>
                        
                        <h6 class="fw-bold text-truncate mt-3">@product.ProductName</h6>
                        <div class="mt-2 d-flex gap-2">
                            <h6 class="text-black-50 text-decoration-line-through">R @product.OldPrice</h6>
                            <h6 class="text-black">R @product.Price</h6>
                        </div>
                    </div>
                </div>
            }

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="h-100 text-center align-content-center">
                    <button class="product-btn btn btn-outline-dark">View All</button>
                </div>
            </div>
        </div>
    </div>
</div>
