@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="container">
        <h1 class="fw-bold text-center">Search</h1>
    </div>
}
