:root {
    --bs-primary: #EB3030;
    --bs-primary-rgb: 235, 48, 48;
    --body-font: "Open Sans", sans-serif;
    --heading-font: "Nunito", sans-serif;
}

input[type="text"], input[type="number"], input[type="time"], input[type="password"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
    border: 1px solid rgb(213 217 222);
    margin: 0.5rem 0rem;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
}

button {
    background: rgb(209 213 219);
}

button.btn-primary {
    padding: 0.5rem;
    width: 100%;
    color: white;
    border-radius: 1.5rem;
}

.hover-badge {
    top: 0rem;
    right: 1.5rem;
}

.product-item {
    position: relative;
    padding: 16px;
    background: #ffffff;
    margin-bottom: 30px;
    border: 2px solid #efefef;
}

.product-item:hover {
    background: #efefef;
    transition: all 0.3s ease-out;
}

.product-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.btn-wishlist {
    position: absolute;
    top: 25px;
    right: 20px;
    border-radius: 50px;
    padding: 0.5rem 0.5rem;
    display: flex;
    align-items:center;
    transition: all 0.3s ease-out;
    text-decoration: none;
    background-color: #fff;
    color: #ff4040;
}

.btn-wishlist:hover {
    background-color: #ff4040;
    color: #fff;
    cursor: pointer;
}

.section-bg {
    background-image: url(../images/banner-image-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
}

.header-bg {
    background-image: url(../images/banner-image-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}

.largeText {
    font-size: 36px;
    line-height: 1.1;
    text-transform: uppercase;
}

.smallText {
    font-family: 'Palatino Linotype';
    font-size: 15px;
    line-height: 1.2;
}

.product-btn {
    border-radius: 0px;
    font-size: 20px;
    text-transform: uppercase;
    width: 90%;
}
